@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	text-decoration: none;
}

.bolum1 {
	position: relative;
}

header {
	width: 100%;
	margin: 10px auto;
	
	
}

.wrapper {
	max-width: 1100px;
	margin: 0 auto;
}

.logo {
	
	float: left;
	background-image: url("img/logo.jpg");
	background-size:contain;
	background-repeat: no-repeat;
	height: 35px;
	max-width: 250px;
	width: 100%;
	margin-top: 0.3em;
}

nav {
	float: left;
	line-height: 2em;
	margin-top: 0.3em;
}


.uyelik {
	float: right;
	line-height: 2em;
	margin-bottom: 0.5em;
}

.uyelik input:hover {
	cursor: pointer;
}	

nav ul {
	list-style-type: none;
	text-decoration: none;
}

nav ul li {
	float: left;
	text-decoration: none;
}

ul li a {
	color: #575f7f;
	display: block;
	padding-right: 2em;
}

a {
	text-decoration: none;
	
}

ul li a:hover {
	color:#560101;
	display: block;
	
}

li ul {
	display: none;
	position: absolute;
	background: white;
}

ul li:hover ul {
	display: block;
}

ul li ul li {
	display: block;
	float: none;
	margin-left: -2px;
}


#giris {
	border: none;
	background: white;
	font-family: 'Nunito Sans', sans-serif;
	padding: 0 1em;
	font-size: 1em;
	line-height: 1.5em;
	color: #575f7f;
}


#uye-olun {
	border: 2px solid #30c2b0;
	border-radius: 25px;
	background: white;
	font-family: 'Nunito Sans', sans-serif;
	padding: 0 0.5em;
	font-size: 1em;
	line-height: 2.5em;
	color: #30c2b0;
}


.boluma {
	background-image: url("img/main.jpg");
	height: 70vh;
	background-size: cover;
	position: relative;
	
	
}


.boluma-yazi {
	position: absolute;
	text-align: center;
	top: 35%;
	right: 25%;
	
}
h1 {
	line-height: 4em;
	font-size: 2.5em;
	color: white;
}

span a {
	color: white;
	border: 1px solid transparent;
	padding: 1em 3em;
	background-color: #30c2b0;
	border-radius: 40px;
	text-transform: uppercase;
	font-weight: 700;
	 
}

span a:hover {
	box-shadow: 0 2px 8px 4px rgba(0,0,0,0.2);
	transition-duration: 0.3s;
}

/*******İlk Bölüm Sonu **********/

.bolum2 {
	width: 1100px;
	margin: 0 auto;
	color: #47495a;
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 50px;
	
}

.bolum2 h2 {
	display: block;
	margin: 1em auto;
}

.kahveciler {
	margin: 2em auto;
}

.kahveci {
	max-width: 25%;
	float: left;
}

.kahveciler img {
	width: 100%;
}

/*********Bolum İki Sonu********/


.bolum3 {
	width: 1100px;
	margin: 50px auto;
}

.bolum3-container {
	margin: 0 auto;
	padding: 2em 0;
}

.box1_yazi {
	width: 50%;
	float: left;
	text-align: left;
	
}

.box1_yazi h2{
	display: block;
	margin-top: 25%;
}

.box1_yazi p {
	line-height: 2em;
}

.box1_yazi span a {
	display: inline-block;
	text-align: center;
	margin: 1em auto;
	margin-left: 20%;
	background-color: #ff8800;
		
}

.box1_resim {
	width: 50%;
	float: left;
}

.box1_resim img {
	width: 100%;
	
}

.box2 {
	margin: 2em auto;
}

.box2 img {
	width: 100%;
	
}

.box2 h2 {
	text-align: center;
	display: block;
	margin: 2em auto;
	font-size: 3em;
}

.box2-resim {
	float: left;
	width: 50%;
}

.box2-yazi {
	float: left;
	width: 50%;
	font-size: 1.1em;
}


.boxes:nth-child(2) {
	margin: 5em auto;
}

.box3 {
	margin: 2em auto;
	padding: 2em 0;
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.15);
	border-bottom: 1px solid rgba(0,0,0,0.15);
}

.box3 img {
	max-width: 30px;
	max-height: 30px;
	border-radius: 50%;
}

.box3 h3 {
	display: block;
	margin-bottom: 2em;
	font-size: 1.5em;
}

.box3 p {
	font-size: 2em;
	color: #47495a;
}


.oneriler {
	float: left;
	width: 45%;
	padding: 3em 0;
	height: 325px;
}

.box4-1 {
	background-image: url("img/box3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: 3em;
	margin-left: 2em;
	position: relative;
	text-align: center;
		
}

.box4 {
	margin: 4em auto;
}

.box4-1 h3 {
	display: block;
	margin: 2em 0;
	color: white;
	font-size: 1.5em;
	
}


.box4-2 {
	background-image: url("img/box4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	text-align: center;
		
}

.box4-2 h3 {
	display: block;
	margin: 2em 0;
	color: white;
	font-size: 1.5em;
}


/*********Footer************/

footer {
	background: #333333;
	color: white;
	margin-top: 4em;
	
}


footer h3 {
	margin: 2em 0;
}

footer a {
	text-decoration: none;
	color: white;
	
}

.container {
	width: 1140px;
	margin: 0 auto;
	
}

.column {
	float: left;
	width: 20%;
	margin: 0 1em;
}

.footer_logo {
	text-align: center;
	margin: 1em auto;
}

.footer_logo img {
	width: 100px;
	display: inline-block;
	margin: 10px auto;
}


.footer_dip {
	text-align: center;
	background: black;
	padding: 1em 0;
	
}

.sosyal {
	font-size: 2em;
	text-align: center;
	margin-top: 1.5em;
}

.sosyal i {
	margin-right: 10px;
}
